[agent]
  interval = "10s"
  hostname = "{{ ansible_facts['hostname'] }}"

# OUTPUTS
[[outputs.influxdb_v2]]
  urls = ["https://influxdb.{{ master_host }}"]
  bucket = "telegraf"
#  precision = "1s"
  organization = "Org"
  token = "{{ telegraf_token }}"

# INPUTS
[[inputs.cpu]]
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics.
  collect_cpu_time = false
  ## If true, compute and report the sum of all non-idle CPU states.
  report_active = false

[[inputs.disk]]
  ## By default stats will be gathered for all mount points.
  ## Set mount_points will restrict the stats to only the specified mount points.
  # mount_points = ["/"]
  ## Ignore mount points by filesystem type.
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]
[[inputs.mem]]
[[inputs.net]]
[[inputs.processes]]
[[inputs.swap]]
[[inputs.system]]
#[[inputs.docker]]
[[inputs.ethtool]]
#[[inputs.hddtemp]]
