deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }} main restricted

deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-updates main restricted

deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }} universe
deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-updates universe

deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }} multiverse
deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-updates multiverse

deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-backports main restricted universe multiverse

deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-security main restricted
deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-security universe
deb {{ apt_mirror }} {{ ansible_facts['distribution_release'] }}-security multiverse
