# {{ ansible_managed }}
#
# SnapRAID configuration file

# Parity location(s)
{% for disk in snapraid.parity_disks %}
parity {{ disk.path }}/snapraid.parity
{% endfor %}

# Content file location(s)
{% for disk in snapraid.data_disks %}
{% if disk.content == true %}
content {{ disk.path }}/.snapraid.content
{% endif %}
{% endfor %}

# Data disks
{% for disk in snapraid.data_disks %}
data d{{ loop.index }} {{ disk.path }}{{ disk.data_path | default('') }}
{% endfor %}

# Excludes hidden files and directories (uncomment to enable).
{% if snapraid.config_hidden_files_enabled %}
{{ snapraid.config_hidden_files }}
{% endif %}

{% for item in snapraid.config_excludes %}
exclude {{ item }}
{% endfor %}
