#!/usr/bin/env bash

 export RESTIC_PASSWORD={{ restic_backup.password }}

# hostname allows to keep the same data from different sources
# might be usefull for media/documents

{% for src in restic_backup.src %}
######################################
restic -r sftp:{{ restic_backup.dst }} backup {{ src.path }} -H {{ src.hostname }} -v $@

mes="backup error"

if [ $? -eq 0 ]; then
  mes="backup done"
fi

{{ notification_script }} "{{ ansible_facts['hostname'] }}" "{{ src.path }} restic $mes"

restic -r sftp:{{ restic_backup.dst }} forget --host {{ src.hostname }} --keep-last {{ restic_backup.keep_number }} $@

{% endfor %}

######################################
restic -r sftp:{{ restic_backup.dst }} prune $@

 unset RESTIC_PASSWORD