#!/usr/bin/env bash

# -R is used
rsync -Rra --delete --exclude={{ '{' }}{{ backup_exclude_pattern }}{{ '}' }} $1 $2

mes="backup error"

if [ $? -eq 0 ]; then
  mes="backup done"
fi

{{ notification_script }} "{{ ansible_facts['hostname'] }}" "$1 $mes"
