certificatesResolvers:
  letsEncrypt:
    acme:
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      email: "{{ traefik_config.certificates.email }}"
      storage: "certs_{{ host }}.json"
      dnsChallenge:
        provider: "{{ traefik_config.provider }}"
        delayBeforeCheck: 5

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: "web-secure"
          scheme: "https"
          permanent: true

  web-secure:
    address: ":443"
    http:
      tls:
        certResolver: "letsEncrypt"
        domains:
          - main: "{{ host  }}"
            sans:
              - "*.{{ host }}"

### Settings
global:
  checkNewVersion: false
  sendAnonymousUsage: false

# logging
log:
  level: "{{ traefik_config.log_level }}"
  filePath: "/var/log/app.log"

# Configuring a buffer of 100 lines
accessLog:
  filePath: "/var/log/access.log"
  bufferingSize: 100

serversTransport:
  maxIdleConnsPerHost: "{{ traefik_config.max_idle_conns_per_host }}"
  insecureSkipVerify: true

providers:
  docker:
    network: "{{ traefik_config.docker_network }}"
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true

{% if traefik_config.api_enabled %}
api:
  insecure: true
  debug: true
  dashboard: true
{% endif %}
