#! /usr/bin/env bash

if {{ telegram_notify.enable|lower }}; then
python3 {{ telegram_notify.script_path }} "$1 $2"
fi

if {{ gotify_notify.enable|lower }}; then
curl "https://{{ gotify_notify.url }}/message?token={{ gotify_notify.token }}" -F "title=$1" -F "message=$2" -F "priority=5"
fi
